<div class="app-shell">
  @if (isMobile() && (sidebarOpen() || askOpen())) {
    <div class="app-shell__backdrop" (click)="closeSidebar(); closeAsk()"></div>
  }
  <app-sidebar
    [open]="sidebarOpen()"
    [overlay]="isMobile()"
    [framed]="askOpen() && !isMobile()"
    (closeRequested)="closeSidebar()"
  />
  <div class="app-shell__main" [class.app-shell__main--framed]="askOpen() && !isMobile()">
    <app-header
      [askOpen]="askOpen()"
      (toggleSidebar)="toggleSidebar()"
      (toggleAsk)="toggleAsk()"
    />
    <router-outlet></router-outlet>
  </div>
  <app-ask-panel [open]="askOpen()" [overlay]="isMobile()" (closeRequested)="closeAsk()" />
  <app-command-palette />
  <app-invite-modal />
  <app-upgrade-modal />
</div>
