<div class="auth-layout">
  <aside class="auth-layout__brand">
    <div class="auth-layout__orb auth-layout__orb--a"></div>
    <div class="auth-layout__orb auth-layout__orb--b"></div>

    <a class="auth-layout__logo" routerLink="/">
      <span class="auth-layout__logo-mark">
        <app-icon name="text-to-speech" [size]="15" />
      </span>
      NWM
    </a>

    <div class="auth-layout__brand-copy">
      <h2>{{ tagline || translate.dict().authLayout.tagline }}</h2>
      <ul>
        <li>
          <app-icon name="check" [size]="13" />
          {{ translate.dict().authLayout.point1 }}
        </li>
        <li>
          <app-icon name="check" [size]="13" />
          {{ translate.dict().authLayout.point2 }}
        </li>
        <li>
          <app-icon name="check" [size]="13" />
          {{ translate.dict().authLayout.point3 }}
        </li>
      </ul>
    </div>
  </aside>

  <div class="auth-layout__content">
    <a class="auth-layout__mobile-logo" routerLink="/">
      <span class="auth-layout__logo-mark">
        <app-icon name="text-to-speech" [size]="14" />
      </span>
      NWM
    </a>

    <div class="auth-layout__card">
      <ng-content />
    </div>

    <a class="auth-layout__back" routerLink="/">
      <app-icon name="chevron-right" [size]="12" class="auth-layout__back-icon" />
      {{ translate.dict().authLayout.backHome }}
    </a>
  </div>
</div>
